.dropdown {
  @apply w-full h-[47px] p-0 relative cursor-pointer rounded-lg z-10 border border-[#C2C7CD];
  user-select: none;
  .dropdownbtn {
    @apply w-full h-full box-border bg-transparent flex justify-center items-center cursor-pointer;
    span {
      @apply px-[10px] box-border w-full justify-between flex items-center gap-x-3 text-[16px] leading-[24px] font-normal text-black;
    } 
  }
  .dropdowncontent {
    @apply w-full absolute top-[98%] capitalize left-0 bg-white border border-[#C2C7CD] px-[5px] py-[10px] rounded-md mt-1 max-h-[200px] overflow-y-auto;
    scrollbar-width: thin !important;
    scrollbar-color: #2DC3C3 #555;
     .dropdownitems {
      @apply py-[10px] cursor-pointer capitalize hover:bg-primary hover:text-white rounded-md px-2 box-border;
  }
  }
}
.title{
  @apply text-[11px] font-normal leading-normal;
}